<component name="ArtifactManager">
  <artifact type="exploded-ear" name="SpringJavaConfig:ear exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringJavaConfig_ear_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringJavaConfig/javaeeApplication/javaEEApplication" />
      <element id="directory" name="ejb.jar">
        <element id="artifact" artifact-name="SpringJavaConfig:ejb exploded" />
      </element>
    </root>
  </artifact>
</component>